*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
}

.pink-color{
    color: rgb(202, 29, 110);
}

/* nawigacja */

.navbar-brand{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.nav-link, .navbar-toogler-icon{
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* sekcja powitalna */

.home{
    position: relative;
    height: 60rem;
    background-image: url(../img/grupowe.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.home .btn{
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.welcome-text{
    font-size: 2.2rem;
}

/* sekcja o nas */

.aboutus-box h3{
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutus-icon{
    font-size: 4rem;
}

.accordion-button{
    padding: 1em;
    font-size: 1.8rem;
}